.feedContainer {
  width: 550px;
  margin-inline: auto;
  position: relative;

  .feedList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-block: 3rem;
  }
}
