.feedContainer {
  position: relative;

  .feedList {
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3rem;
  }
}
