.fileup {
  text-align: center;
  justify-content: center;
  height: 43px;
  font-weight: 600;
  line-height: 42.65px;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: flex-start;
  margin: 0;
  gap: 30px;
  width: 1073px;
  height: 643px;

    .comment {
      display: flex;
      flex-direction: column;
      background-color: #FAF3EF;
      color: #E48465;
      padding: 10px 284px 10px 10px;
      gap: 10px;
      width: 580px;
      height: auto;
    }
    
    .comment-text {
      font-family: 'SUIT';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      white-space: nowrap;
    }
  
  .file-upload {
    position: relative;
    width: 463px;
    height: 463px;
    background: #E7E7E7;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    input[type="file"] {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: relative;
      top: 0;
      left: 0;
      cursor: pointer;
    }

    .image-preview {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;

      .preview-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        button {
          margin-top: 5px;
          padding: 5px 10px;
          background: #FF7042;
          border: none;
          border-radius: 3px;
          font-family: 'SUIT';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #FFFFFF;
          cursor: pointer;
        }
      }
    }
  }

  .text-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Modified */
    padding: 0;
    gap: 20px;
    width: 463px;
    height: 463px;
  }

  .ql-container {
    width: 100%;
    height: 100%;

    .ql-editor {
      height: 100%;
      font-family: 'SUIT';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #9D9D9D;
    }
  }

  button {
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 0.7px solid #CECECE;
    border-radius: 3px;
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #111111;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
}