.feedListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  border-bottom: 2px solid #e7e7e7cc;

  .feedTop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;

    padding-block: 1rem;

    .profile {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .imgContainer {
        width: 2.5rem;
        height: 2.5rem;

        border-block: 1.5px solid #111111;
        border-radius: 50px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .nickname {
        color: #353535;
      }
    }

    button {
      height: 2.2rem;
      border-radius: 5px;
      padding-inline: 0.8rem;
      background-color: #ff4c13;
      color: white;

      font-weight: 500;
    }
  }

  .imgContainer {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .feedContent {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    padding-block: 1.5rem;

    .likes {
      font-size: 0.9rem;
      span {
        font-weight: 700;
      }
    }
    .icons {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      cursor: pointer;

      img {
        width: 22px;
        height: 22px;

        &:nth-child(2) {
          width: 21px;
          height: 21px;
        }
      }
    }

    .tags {
      display: flex;
      gap: 0.5rem;

      li {
        width: 4rem;
        height: 1.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0.25rem 0.5rem;

        border: 0.7px solid #505050;
        border-radius: 1.5rem;

        font-size: 0.8rem;
        font-weight: 400;
        color: #505050;
      }
    }

    .feedText {
      width: 100%;
      font-size: 0.9rem;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      color: #353535;
    }

    .comments {
      font-size: 14px;
      font-weight: 400;

      .more {
        margin-bottom: 0.5rem;

        color: #858585;
        cursor: pointer;
      }

      .comment {
        color: #353535;

        span {
          font-weight: 500;
        }
      }
    }

    .time {
      font-weight: 400;

      font-size: 10px;
      color: #858585;
    }
  }
}
