* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  // font-family: ;
  position: relative;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

ul,
ol,
li {
  padding-left: 0;
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  //margin-top: 150px; //header 높이에 따라 달라질 예정
  min-height: calc(100vh - 150px);
}
