// variable 모음

$bg-color: #ffff;
$accent-color: #ff7042;
$lightest-gray: #e7e7e7;
$light-gray: #eff1f2;
$medium-gray: #858585;
$dark-gray: #111111;
$text-gray: #505050;
$header-height: 70px;
$animation-duration: 200ms;
$animation-timing-curve: ease-in-out;
