.footer-container {
  height: 254px;
  width: calc(100vw - 90px);
  padding: 4rem 3rem 3rem 3rem;
  background-color: $light-gray;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    .item {
      display: flex;
      gap: 1.5rem;
      a {
        color: #353535;
        font-weight: 500;
        opacity: 0.5;
      }
    }
  }
  .border {
    width: 100%;
    border-top: 1px solid #cecece;
  }
  .bottom {
    transform: translateX(20%);
    font-size: 0.8rem;
    color: #353535;
    opacity: 0.5;
  }
}
