header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
  padding: 0 0.5rem;
  height: $header-height;

  .menu-icon-btn {
    background: none;
    border: none;
    padding: 0;

    .menu-icon {
      width: 25px;
      height: 25px;
      fill: $medium-gray;
      cursor: pointer;

      &:hover {
        fill: $dark-gray;
      }
    }
  }
}
