header {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: white;
  z-index: 10;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 25px 0px;

    .logo {
      font-weight: bold;
      font-size: 1.5rem;
    }

    input {
      width: 250px;
      background-color: #eee;
      padding: 0.8rem 1rem;

      &::placeholder {
        opacity: 0.8;
      }
    }

    .menu {
      display: flex;
      align-items: center;

      a {
        margin-right: 30px;

        .menuItem {
          &:hover {
            color: #00c000; //임의로 해놓음
          }
        }
      }
    }
  }
}
