<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <typeAliases>

        <typeAlias alias="LoginDTO" type="com.example.todayCody.login.LoginDTO"/>

    </typeAliases>

    <mappers>
        <mapper resource="mapper/mapper_login.xml"/>
    </mappers>
</configuration>